{% extends 'base.html' %}
{% load static %}

{% block titleblock %}
<title>Modeláři - Přihlášení</title>
{%endblock%}

{% block content %}
<div class="container-fluid vh-75 flex-fill justify-content-center">
    {% if login_error %}
    <div class="alert alert-warning center-block alert-dismissible fade show" style="margin-top: 2vh;" role="alert">
        Přihlášení se nezdařilo.
    </div>
    {% endif %}

    <div class="row h-100 justify-content-center align-items-center justify-content-center">
        <div class="col col-lg-3">
            <form class="form-horizontal" method="post">{% csrf_token %}
                <fieldset>
                    <legend>{{ title }}</legend>
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="control-group error">
                                <label class="control-label">{{ field.label }}{% if field.field.required %} * {% endif %}</label>
                                <div class="controls">{{ field }}
                                    <span class="help-inline">
                                        <div class="alert alert-warning center-block alert-dismissible fade show" style="margin-top: 2vh;" role="alert">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </div>
                                    </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="control-group">
                                <label class="control-label">{{ field.label }}{% if field.field.required %} * {% endif %}</label>
                                <div class="controls">{{ field }}
                                    {% if field.help_text %}
                                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 2vh;">Přihlásit se</button>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{%endblock%}
